# Paste the Web App URL you get after deploying the Apps Script project
# (Deploy > New deployment > Web app). It looks like:
# https://script.google.com/macros/s/XXXXXXXXXXXXXXXXXXXX/exec
NEXT_PUBLIC_API_URL=
